<h2 class="text-3xl">Perpetual Protocol (<%= length(@pairs) %>)</h2>

<div class="flex items-center mt-4">
  <form>
    <input type="text" placeholder="Search" disabled title="coming soon..." class="bg-gray-100 opacity-25" />
  </form>
</div>

<div class="mt-8">
  TODO...
</div>
