.fade-out-bg {
	animation-name: fadeOut;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeOut {
	0% {
		background-color: $info;
    color: $white;
	}
	100% {
		background-color: $white;
	}
}
