<h2 class="text-3xl">
  Tokens/<%= @blockchain_id %>/<%= @address %>
</h2>

<div class="mt-8">
  <div>
    <dt class="font-bold inline">Symbol:</dt>
    <dd class="inline"><%= @token.symbol %></dd>
  </div>
  <div>
    <dt class="font-bold inline">Precision:</dt>
    <dd class="inline"><%= @token.precision %></dd>
  </div>
</div>
